<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
            padding-left: 50px;
            padding-right: 50px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Scores</title>
</head>
<body>
    <form action="/" method="POST">
        <input name="name" placeholder="Name" type="text">
        <input name="score" placeholder="Score" type="number" min="0" max="100">
        <input type="submit" value="Add score">
    </form>
    <table>
        <tr>
            <th>Name</th>
            <th>Score</th>
            <th>Edit</th>
        </tr>
        {% for student in score %}
            <tr>
                <td>{{student.name}}</td>
                <td>{{student.score}}</td>
                <td>
                    <a href="/edit/{{ student['id'] }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>